.nav{
  display: flex;
    flex-direction: row-reverse;
    background-color: #ffffff;
    padding: 15px;
    gap: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 52px;
    width: 100%;
    box-shadow: 1px 1px 3px 1px #eee
}
/* Specific styles for non-active links */
.link {
  color: #333;
  font-weight: bold;
}

/* Specific styles for active links */
.link-active {
  color: red;
  font-weight: bold;
}