*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('/public/assests/background.jpg') fixed no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  background: rgba(30, 121, 3, 0.3);
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: -4;
}
select,
button,
button:focus,
input,
input:focus textarea,
textarea,
textarea:focus {
  outline: none;
  border: none;
}

a {
  color: #333;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

ul,
li,
ol {
  list-style: none;
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Extra small devices  */
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    max-width: 400px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* scrollbar Style */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}
.content{
  margin-top: 70px;
}
.title{
  text-align: center;
  font-size: 50px;
}
.search-input{
  display: block;
    margin: 20px auto;
    width: 275px;
    padding: 8px 15px;
    border-radius: 16px;
}
.description{
  margin: 10px 0;
}